
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="#" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="#">Create one</a></p>
        <p>Or log in with Google: <a href="{{ url_for('login.google_auth') }}">Google</a></p>
      </form>
  </body>
</html>